# Compiled and target directories
target/
compiled/

# Logs and database artifacts
logs/
dbt.log

# Python virtual environment
venv/
*.pyc
__pycache__/

# OS and IDE specific files
.DS_Store
.idea/
.vscode/
*.swp




